<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<!--<div class="container">-->
<h3>按照条件查询</h3>
<form name="myForm" method="get">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">请输入</span>
        </div>
        <!--keyName: <input type="text" id="keyName" name="keyName"/>-->
        <!--fileName: <input type="text" id="fileName" name="fileName"/>-->
        <!--productName: <input type="text" id="productName" name="productName"/>-->
        <!--<input type="button" onclick="submitData()" value="search"/>-->
        <input type="text" class="form-control" placeholder="Key Name" id="keyName">
        <input type="text" class="form-control" placeholder="File Name" id="fileName">
        <input type="text" class="form-control" placeholder="Product Name" id="productName">
        <input type="submit" class="btn btn-info" value="搜索" onclick="submitData();">
    </div>
</form>
<h3>查询结果</h3>
<!--<p>通过添加 .table-striped 类，来设置条纹表格:</p>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>keyName</th>
        <th>en</th>
        <th>zh</th>
        <th>zh_Hant</th>
        <th>ru</th>
        <th>es</th>
        <th>pl</th>
        <th>ko</th>
        <th>it</th>
        <th>fr</th>
        <th>de</th>
        <th>fileName</th>
        <th>product</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i:${info}">
        <td th:text="${i.keyName}"></td>
        <td th:text="${i.en}"></td>
        <td th:text="${i.zh}"></td>
        <td th:text="${i.zh_Hant}"></td>
        <td th:text="${i.ru}"></td>
        <td th:text="${i.es}"></td>
        <td th:text="${i.pl}"></td>
        <td th:text="${i.id}"></td>
        <td th:text="${i.ko}"></td>
        <td th:text="${i.it}"></td>
        <td th:text="${i.fr}"></td>
        <td th:text="${i.de}"></td>
        <td th:text="${i.fileName}"></td>
        <td th:text="${i.product}"></td>
    </tr>

    </tbody>
</table>
<!--</div>-->

<script type="text/javascript">
    //上传文件方法
    function submitData() {
        var xhr = new XMLHttpRequest();  // XMLHttpRequest 对象;
        var keyName = document.forms["myForm"]["keyName"].value; // js 获取文件对象
        var fileName = document.forms["myForm"]["keyName"].value;
        var productName = document.forms["myForm"]["keyName"].value;
        xhr.response.
//        var jsonDataString = {
//            "keyName":keyName,
//            "fileName": fileName,
//            "product":productName
//        }
//        var jsonData = JSON.stringify(jsonDataString);
//        var url = "http://10.234.22.110:9090/greet"; // 接收上传文件的后台地址
//        xhr.open("get", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
//        xhr.send(jsonData); //开始上传，发送form数据
        $.ajax({
            type: "get",
            dataType: "json",
            url: "http://10.234.22.110:9090/info/fileName",
            data: {
                "keyName": keyName,
                "fileName": fileName,
                "product": productName
            },
            success: function (msg) {
                if (msg.ret) {
                    var str = "";
                    var data = msg.data;
                    for (i in data) {
                        str += "<tr>" +
                            "<td>" + data[i].keyName + "</td>" +
                            "<td>" + data[i].en + "</td>" +
                            "<td>" + data[i].zh + "</td>" +
                            "<td>" + data[i].fileName + "</td>" +
                            "<td>" + data[i].product + "</td>" +
                            "</tr>";
                    }
                    tbody.innerHTML = str;
                }
            },
            error: function () {
                alert("查询失败")
            }
        })
    }


    //        $(document).ready(function() {
    //            $.ajax({
    //                url : "admin/get_online_ganbu.php",//后台请求的数据，用的是PHP
    //                dataType : "json",//数据格式
    //                type : "post",//请求方式
    //                async : false,//是否异步请求
    //                success : function(data) {   //如果请求成功，返回数据。
    //                    var html = "";
    //                    for(var i=0;i<data.length;i++){    //遍历data数组
    //                        var ls = data[i];
    //                        html +="<span>测试："+ls.name+"</span>";
    //                    }
    //                    $("#test").html(html); //在html页面id=test的标签里显示html内容
    //                },
    //            })
    //        })


    }
</script>
< /body>
< /html>