<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap 实例</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/js/findByAll.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body ms-controller="viewmodel">
<!--<div class="container">-->
<h3>按照条件查询</h3>
<!--<form name="myForm" method="get">-->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">请输入</span>
    </div>
    <!--keyName: <input type="text" id="keyName" name="keyName"/>-->
    <!--fileName: <input type="text" id="fileName" name="fileName"/>-->
    <!--productName: <input type="text" id="productName" name="productName"/>-->
    <!--<input type="button" onclick="submitData()" value="search"/>-->
    <input type="text" class="form-control" placeholder="Key Name" id="keyName">
    <input type="text" class="form-control" placeholder="File Name" id="fileName">
    <input type="text" class="form-control" placeholder="Product Name" id="productName">
    <input type="submit" class="btn btn-info" value="搜索" id="btSearch">
</div>
<!--</form>-->


<h3>查询结果</h3>
<!--<p>通过添加 .table-striped 类，来设置条纹表格:</p>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>keyName</th>
        <th>en</th>
        <th>zh</th>
        <th>zh_Hant</th>
        <th>ru</th>
        <th>es</th>
        <th>pl</th>
        <th>ko</th>
        <th>it</th>
        <th>fr</th>
        <th>de</th>
        <th>fileName</th>
        <th>product</th>
    </tr>
    </thead>
    <tbody id="tbody-result">
    </tbody>
    <!--<tbody>-->
    <!--<tr th:each="i:${info}">-->
    <!--<td th:text="${i.keyName}"></td>-->
    <!--<td th:text="${i.en}"></td>-->
    <!--<td th:text="${i.zh}"></td>-->
    <!--<td th:text="${i.zh_Hant}"></td>-->
    <!--<td th:text="${i.ru}"></td>-->
    <!--<td th:text="${i.es}"></td>-->
    <!--<td th:text="${i.pl}"></td>-->
    <!--<td th:text="${i.id}"></td>-->
    <!--<td th:text="${i.ko}"></td>-->
    <!--<td th:text="${i.it}"></td>-->
    <!--<td th:text="${i.fr}"></td>-->
    <!--<td th:text="${i.de}"></td>-->
    <!--<td th:text="${i.fileName}"></td>-->
    <!--<td th:text="${i.product}"></td>-->
    <!--</tr>-->
    <!--</tbody>-->
</table>
<!--</div>-->